<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
      <div>
        <h1>本当に退会しますか？</h1>
      <p>
        <strong>
          退会すると、会員情報や<br>
          これまでの購入履歴が閲覧できなくなります。<br>
          退会する場合は「退会する」をクリックしてください。
        </strong>
      </p>
      </div>
      <%= link_to "退会しない", public_customers_my_page_path(current_customer) %>
      <%= form_with model: @customer, url: public_customers_withdraw_path do |f| %>
      <%= f.hidden_field :is_deleted, :value=>true %>
      <%= f.submit "退会する" %>
      <% end %>
    </div>
  </div>
</div>