<div>
  <div>
    <div>
      <h3>ジャンル</h3>
      <table>

      </table>
      <div>
        <h2>新着商品</h2>
      </div>
      <%= link_to "ログイン", new_customer_registration_path %>
    </div>
  </div>
</div>
