<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-8 offset-md-1">
        <h2>会員一覧</h2>
        <table class="table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @customers.each do |user| %>
          <tbody>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name%></td>
              <td><%= user.email %></td>
              <td>ステータス。。。</td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
