<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div>
        <h4>ジャンル検索</h4>
        <% @items.each do |f| %>
        <p><%= f.name %></p>
        <% end %>
      </div>
      <div>
        <h2>商品一覧</h2>
        <% @items.each do |item| %>
        <div>
          <%= image_tag item.get_item_image %>
          <div>
            <p><%= item.name %></p>
            <p>￥<%= item.price %></p>
          </div>
        </div>
        <% end %>
        

      </div>
    </div>
  </div>
</div>